{% extends "blog/base.html" %}

{% block content %}

    <!-- {% if posts %}
        <span>Posts mais recentes:</span>
        <ul id="posts-list">
            {% for post in posts %}
            <li><a href="/posts/{{ post.id }}/">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Nenhum post encontrado.</p>
        {% endif %} -->

    <!-- <ul class="w3-ul"> -->
    <ul>
        {% for post in page_obj %}
        <li class=""><a href="/posts/{{ post.id }}/">{{ post.title }}</a></li>
        {% endfor %}
    </ul>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a class="w3-btn" href="?page=1">&laquo; first</a>
            <a class="w3-btn" href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
            <a class="w3-btn" href="?page={{ page_obj.next_page_number }}">next</a>
            <a class="w3-btn" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

{% endblock content %}